{% extends 'base.html' %}
{% block title %}
My Receipts
{% endblock title%}
{%block content%}
<main>
  <h1>Categories</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
      </tr>
    </thead>
      {% for receipt in category_list %}
      <tr>
      <td>{{ receipt.name }}</td>
      <td>{{ receipt.owner }}</td>
      </tr>
      {% endfor %}
  </table>
</main>
{% endblock content%}
